html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: LightGray;
    	margin: 0px;
       		font-family: 'Roboto', sans-serif;
    			color: #838994;
    			 	display: block;
    			 		line-height: 1;
}
.top-navigation {
	color: #fff;
	display: block;
	line-height: 1.188em;
	float: left;
	width: 75px
    margin: 0 auto;
	padding: 0px 15px;
	border: 0px;
	vertical-align: baseline;
	background: #ec008c;
}

.top-navigation > .content {
	width: 725px;
    margin: 0 auto;
	padding: 0px 15px;
	border: 0px;
	vertical-align: baseline;
	background: #ec008c;
}
