html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: white;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    display: block;
    line-height: 1;
    text-align: center;
}

.content {
	align-content: center;
}

.main {
	margin: 0 20%;
}

.list {
	margin: 0 44%;
}